@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
.container {
  width: 1280px;
  margin: 0 auto;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
  background-color: black;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: black;
  padding-top: 5px;
}
.header .img {
  stroke: var(--Grey-40, #666);
}
.header .img img {
  width: 100%;
}
.header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .head .text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--Absolute-White, #FFF);
  text-align: center;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.header .head .text a {
  color: var(--Absolute-White, #FFF);
  text-align: center;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  text-decoration-line: underline;
}
@media (max-width: 1596px) {
  .header .head .text a {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .header .head .text a {
    font-size: 12px;
  }
}
@media (max-width: 1596px) {
  .header .head .text {
    font-size: 14px;
    gap: 6px;
  }
}
@media (max-width: 1200px) {
  .header .head .text {
    font-size: 12px;
    gap: 6px;
  }
}
.header .head img {
  padding: 4px;
  border-radius: 75px;
  background: rgba(255, 255, 255, 0.1);
  left: 100%;
  position: relative;
}
@media (max-width: 1200px) {
  .header .head img {
    left: 1%;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 162px;
  background: #1A1A1A;
}
@media (max-width: 1596px) {
  .navbar-container {
    padding: 14px 80px;
  }
}
.navbar-container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-container .left-side {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar-container .middle-side ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar-container .middle-side ul li a {
  text-decoration: none;
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  border: 1px solid transparent;
}
.navbar-container .middle-side ul li a:hover {
  color: #999999;
}
@media (max-width: 1596px) {
  .navbar-container .middle-side ul li a {
    font-size: 14px;
  }
}
.navbar-container .middle-side ul .a1 {
  display: flex;
  padding: 14px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #141414;
}
@media (max-width: 1596px) {
  .navbar-container .middle-side ul .a1 {
    padding: 12px 20px;
  }
}
@media (max-width: 1200px) {
  .navbar-container .middle-side {
    display: none;
  }
}
.navbar-container .right-side {
  display: flex;
  align-items: center;
}
.navbar-container .right-side button {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #141414;
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  cursor: pointer;
}
.navbar-container .right-side button:hover {
  color: #F1F1F3;
  background-color: #1A64FF;
}
@media (max-width: 1596px) {
  .navbar-container .right-side button {
    font-size: 14px;
    padding: 14px 20px;
  }
}
@media (max-width: 1200px) {
  .navbar-container .right-side button {
    display: none;
  }
}
.navbar-container .right-side img {
  display: none;
}
@media (max-width: 1200px) {
  .navbar-container .right-side img {
    display: initial;
  }
}

.contact-section .contact {
  display: flex;
  align-items: center;
  gap: 80px;
  position: relative;
}
@media (max-width: 1596px) {
  .contact-section .contact {
    gap: 60px;
  }
}
@media (max-width: 1200px) {
  .contact-section .contact {
    flex-direction: column-reverse;
  }
}
.contact-section .contact .left-side {
  width: 50%;
  padding-left: 162px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 1200px) {
  .contact-section .contact .left-side {
    padding: 0;
    margin-top: -100px;
  }
}
.contact-section .contact .left-side .p1 {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 72px */
}
@media (max-width: 1596px) {
  .contact-section .contact .left-side .p1 {
    font-size: 46px;
  }
}
@media (max-width: 1200px) {
  .contact-section .contact .left-side .p1 {
    font-size: 28px;
  }
}
.contact-section .contact .left-side .span1 {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  margin-top: 24px;
}
@media (max-width: 1596px) {
  .contact-section .contact .left-side .span1 {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .contact-section .contact .left-side .span1 {
    font-size: 14px;
  }
}
.contact-section .contact .left-side .btn {
  display: flex;
  gap: 20px;
}
@media (max-width: 1596px) {
  .contact-section .contact .left-side .btn {
    gap: 16px;
  }
}
@media (max-width: 1200px) {
  .contact-section .contact .left-side .btn {
    flex-direction: column;
  }
}
.contact-section .contact .left-side .btn .btn1 {
  border-radius: 10px;
  background: transparent;
  border: 1px solid #262626;
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  cursor: pointer;
}
.contact-section .contact .left-side .btn .btn1:hover {
  background-color: #703BF7;
}
@media (max-width: 1596px) {
  .contact-section .contact .left-side .btn .btn1 {
    font-size: 14px;
    padding: 14px 20px;
    border-radius: 8px;
  }
}
.contact-section .contact .left-side .btn .btn2 {
  border-radius: 10px;
  border: transparent;
  background: var(--Purple-60, #703BF7);
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  cursor: pointer;
}
.contact-section .contact .left-side .btn .btn2:hover {
  color: #F1F1F3;
  background-color: transparent;
  border: 1px solid #262626;
}
@media (max-width: 1596px) {
  .contact-section .contact .left-side .btn .btn2 {
    font-size: 14px;
    padding: 14px 20px;
    border-radius: 8px;
  }
}
.contact-section .contact .left-side .price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1596px) {
  .contact-section .contact .left-side .price {
    gap: 16px;
  }
}
@media (max-width: 1200px) {
  .contact-section .contact .left-side .price {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact-section .contact .left-side .price .card {
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1A1A1A);
  padding: 16px 24px;
}
@media (max-width: 1596px) {
  .contact-section .contact .left-side .price .card {
    padding: 14px 20px;
  }
}
@media (max-width: 1200px) {
  .contact-section .contact .left-side .price .card {
    padding: 16px;
  }
}
.contact-section .contact .left-side .price .card p {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
}
@media (max-width: 1596px) {
  .contact-section .contact .left-side .price .card p {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .contact-section .contact .left-side .price .card p {
    font-size: 24px;
    text-align: center;
  }
}
.contact-section .contact .left-side .price .card .card-text {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
@media (max-width: 1596px) {
  .contact-section .contact .left-side .price .card .card-text {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .contact-section .contact .left-side .price .card .card-text {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .contact-section .contact .left-side .price .card3 {
    grid-column: span 2;
  }
}
.contact-section .contact .middle-side img {
  position: absolute;
  top: 100px;
}
@media (max-width: 1200px) {
  .contact-section .contact .middle-side img {
    position: relative;
    top: -150px;
    right: 100px;
    width: 117px;
    height: 117px;
  }
}
.contact-section .contact .right-side {
  width: 50%;
}
.contact-section .contact .right-side img {
  width: 100%;
}
@media (max-width: 1200px) {
  .contact-section .contact .right-side img {
    border-radius: 20px;
    margin-top: 40px;
  }
}

.grid-section {
  margin-top: 60px;
}
.grid-section .grid {
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-08, #141414);
  box-shadow: 0px 0px 0px 6px #191919;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1596px) {
  .grid-section .grid {
    padding: 10px;
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .grid-section .grid {
    padding: 10px;
    border-radius: 12px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid-section .grid .grid1 {
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1A1A1A);
  position: relative;
}
@media (max-width: 1596px) {
  .grid-section .grid .grid1 {
    padding: 30px 16px;
    gap: 16px;
  }
}
@media (max-width: 1200px) {
  .grid-section .grid .grid1 {
    padding: 20px 14px;
    gap: 14px;
  }
}
.grid-section .grid .grid1 p {
  color: var(--Absolute-White, #FFF);
  text-align: center;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
@media (max-width: 1596px) {
  .grid-section .grid .grid1 p {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .grid-section .grid .grid1 p {
    font-size: 14px;
  }
}
.grid-section .grid .grid1 .arrowimg {
  position: absolute;
  right: 0;
  top: 0;
}

.featured-section {
  margin-top: 116px;
}
@media (max-width: 1596px) {
  .featured-section {
    margin-top: 90px;
  }
}
@media (max-width: 1200px) {
  .featured-section {
    margin-top: 50px;
  }
}
@media (max-width: 1596px) {
  .featured-section .container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .featured-section .container {
    width: 100%;
  }
}
.featured-section .container .featured-header {
  width: 100%;
}
.featured-section .container .featured-header .stars {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100px;
}
.featured-section .container .featured-header .stars .img1 {
  width: 30px;
  height: 30px;
}
@media (max-width: 1596px) {
  .featured-section .container .featured-header .stars .img1 {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 1200px) {
  .featured-section .container .featured-header .stars .img1 {
    width: 20px;
    height: 20px;
  }
}
.featured-section .container .featured-header .stars .img2 {
  width: 18px;
  height: 18px;
}
@media (max-width: 1596px) {
  .featured-section .container .featured-header .stars .img2 {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 1200px) {
  .featured-section .container .featured-header .stars .img2 {
    width: 20px;
    height: 20px;
  }
}
.featured-section .container .featured-header .stars .img3 {
  width: 8.4px;
  height: 8.4px;
}
@media (max-width: 1596px) {
  .featured-section .container .featured-header .stars .img3 {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 1200px) {
  .featured-section .container .featured-header .stars .img3 {
    width: 20px;
    height: 20px;
  }
}
.featured-section .container .featured-header .featured-info {
  display: flex;
  align-items: center;
  gap: 150px;
}
@media (max-width: 1200px) {
  .featured-section .container .featured-header .featured-info {
    gap: 0;
  }
}
.featured-section .container .featured-header .featured-info .left-side {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (max-width: 1596px) {
  .featured-section .container .featured-header .featured-info .left-side {
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .featured-section .container .featured-header .featured-info .left-side {
    gap: 6px;
  }
}
.featured-section .container .featured-header .featured-info .left-side p {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 72px */
}
@media (max-width: 1596px) {
  .featured-section .container .featured-header .featured-info .left-side p {
    font-size: 38px;
  }
}
.featured-section .container .featured-header .featured-info .left-side span {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
@media (max-width: 1596px) {
  .featured-section .container .featured-header .featured-info .left-side span {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .featured-section .container .featured-header .featured-info .left-side span {
    font-size: 14px;
  }
}
.featured-section .container .featured-header .featured-info .right-side {
  margin-top: 60px;
}
.featured-section .container .featured-header .featured-info .right-side button {
  display: flex;
  padding: 18px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1A1A1A);
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  cursor: pointer;
}
.featured-section .container .featured-header .featured-info .right-side button:hover {
  background-color: #1A64FF;
}
@media (max-width: 1596px) {
  .featured-section .container .featured-header .featured-info .right-side button {
    padding: 14px 20px;
  }
}
@media (max-width: 1200px) {
  .featured-section .container .featured-header .featured-info .right-side button {
    display: none;
  }
}

.number-line {
  margin-top: 50px;
}
@media (max-width: 1596px) {
  .number-line {
    margin-top: 40px;
  }
}
@media (max-width: 1200px) {
  .number-line {
    margin-top: 16px;
  }
}
@media (max-width: 1596px) {
  .number-line .container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .number-line .container {
    width: 100%;
  }
}
.number-line .container .number {
  padding-top: 20px;
  padding-bottom: 150px;
  border-top: 1px solid #262626;
}
@media (max-width: 1596px) {
  .number-line .container .number {
    padding-top: 16px;
    padding-bottom: 120px;
  }
}
.number-line .container .number .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number-line .container .number .content .left-side {
  display: flex;
  align-items: center;
  gap: 10px;
}
.number-line .container .number .content .left-side p {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 1596px) {
  .number-line .container .number .content .left-side p {
    font-size: 16px;
  }
}
.number-line .container .number .content .left-side p span {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
@media (max-width: 1596px) {
  .number-line .container .number .content .left-side p span {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .number-line .container .number .content .left-side p {
    display: none;
  }
}
.number-line .container .number .content .left-side button {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  border-radius: 8px;
  border: 1px solid #262626;
  background: #1A1A1A;
  display: none;
}
@media (max-width: 1200px) {
  .number-line .container .number .content .left-side button {
    display: initial;
  }
}
.number-line .container .number .content .right-side {
  display: flex;
  align-items: center;
}
.number-line .container .number .content .right-side .image {
  display: flex;
  gap: 10px;
  align-items: center;
}
.number-line .container .number .content .right-side .image img {
  padding: 14px;
  border-radius: 69px;
  border: 1px solid #262626;
}
.number-line .container .number .content .right-side .image img:hover {
  background-color: #1A64FF;
}
@media (max-width: 1596px) {
  .number-line .container .number .content .right-side .image img {
    padding: 10px;
  }
}
.number-line .container .number .content .right-side .image p {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: none;
}
@media (max-width: 1596px) {
  .number-line .container .number .content .right-side .image p {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .number-line .container .number .content .right-side .image p {
    display: initial;
  }
}
.number-line .container .number .content .right-side .image p span {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
@media (max-width: 1596px) {
  .number-line .container .number .content .right-side .image p span {
    font-size: 16px;
  }
}

.featured-cards {
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 0;
}
@media (max-width: 1596px) {
  .featured-cards {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .featured-cards {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1596px) {
  .featured-cards .container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container {
    width: 358px;
  }
}
.featured-cards .container .cards {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1596px) {
  .featured-cards .container .cards {
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container .cards {
    flex-direction: column;
  }
}
.featured-cards .container .cards .card {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-08, #141414);
  width: 100%;
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card {
    padding: 30px;
    gap: 20px;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container .cards .card {
    padding: 24px;
    gap: 16px;
    width: 100%;
  }
}
.featured-cards .container .cards .card .card-info {
  width: 100%;
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-info {
    width: 100%;
  }
}
.featured-cards .container .cards .card .card-info img {
  width: 100%;
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-info img {
    width: 100%;
  }
}
.featured-cards .container .cards .card .card-header {
  display: flex;
  flex-direction: column;
}
.featured-cards .container .cards .card .card-header p {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-header p {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container .cards .card .card-header p {
    font-size: 18px;
  }
}
.featured-cards .container .cards .card .card-header span {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-header span {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container .cards .card .card-header span {
    font-size: 14px;
  }
}
.featured-cards .container .cards .card .card-header span a {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-decoration-line: underline;
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-header span a {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container .cards .card .card-header span a {
    font-size: 14px;
  }
}
.featured-cards .container .cards .card .card-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 1200px) {
  .featured-cards .container .cards .card .card-body {
    grid-template-columns: repeat(2, 1fr);
  }
}
.featured-cards .container .cards .card .card-body .card-text {
  display: flex;
  align-items: center;
  border-radius: 28px;
  border: 1px solid #262626;
  background: #1A1A1A;
  padding: 8px 14px;
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-body .card-text {
    padding: 6px 14px;
  }
}
.featured-cards .container .cards .card .card-body .card-text p {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  font-size: 14px;
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-body .card-text p {
    font-size: 14px;
  }
}
.featured-cards .container .cards .card .card-footer {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-footer {
    gap: 40px;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container .cards .card .card-footer {
    gap: 30px;
  }
}
.featured-cards .container .cards .card .card-footer .price {
  display: flex;
  flex-direction: column;
}
.featured-cards .container .cards .card .card-footer .price p {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-footer .price p {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container .cards .card .card-footer .price p {
    font-size: 14px;
  }
}
.featured-cards .container .cards .card .card-footer .price span {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-footer .price span {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container .cards .card .card-footer .price span {
    font-size: 18px;
  }
}
.featured-cards .container .cards .card .card-footer .btn button {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: transparent;
  border-radius: 10px;
  background: var(--Purple-60, #703BF7);
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  cursor: pointer;
}
.featured-cards .container .cards .card .card-footer .btn button:hover {
  background-color: #333333;
}
@media (max-width: 1596px) {
  .featured-cards .container .cards .card .card-footer .btn button {
    font-size: 14px;
    padding: 14px 20px;
  }
}
@media (max-width: 1200px) {
  .featured-cards .container .cards .card .card-footer .btn button {
    font-size: 14px;
    padding: 14px 20px;
  }
}

@media (max-width: 1596px) {
  .client-section .container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .client-section .container {
    width: 100%;
  }
}
.client-section .container .stars {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100px;
}
.client-section .container .stars .img1 {
  width: 30px;
  height: 30px;
}
@media (max-width: 1596px) {
  .client-section .container .stars .img1 {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 1200px) {
  .client-section .container .stars .img1 {
    width: 20px;
    height: 20px;
  }
}
.client-section .container .stars .img2 {
  width: 18px;
  height: 18px;
}
@media (max-width: 1596px) {
  .client-section .container .stars .img2 {
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 1200px) {
  .client-section .container .stars .img2 {
    width: 12px;
    height: 12px;
  }
}
.client-section .container .stars .img3 {
  width: 8.4px;
  height: 8.4px;
}
@media (max-width: 1596px) {
  .client-section .container .stars .img3 {
    width: 6.72px;
    height: 6.72px;
  }
}
@media (max-width: 1200px) {
  .client-section .container .stars .img3 {
    width: 5.6px;
    height: 5.6px;
  }
}
.client-section .container .client-info {
  display: flex;
  align-items: center;
  gap: 150px;
}
@media (max-width: 1200px) {
  .client-section .container .client-info {
    gap: 0;
  }
}
.client-section .container .client-info .left-side {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (max-width: 1596px) {
  .client-section .container .client-info .left-side {
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .client-section .container .client-info .left-side {
    gap: 6px;
  }
}
.client-section .container .client-info .left-side p {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 72px */
}
@media (max-width: 1596px) {
  .client-section .container .client-info .left-side p {
    font-size: 38px;
  }
}
.client-section .container .client-info .left-side span {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
@media (max-width: 1596px) {
  .client-section .container .client-info .left-side span {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .client-section .container .client-info .left-side span {
    font-size: 14px;
  }
}
.client-section .container .client-info .right-side {
  margin-top: 60px;
}
.client-section .container .client-info .right-side button {
  display: flex;
  padding: 18px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #1A1A1A;
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  cursor: pointer;
  width: 196px;
}
.client-section .container .client-info .right-side button:hover {
  background-color: #1A64FF;
}
@media (max-width: 1596px) {
  .client-section .container .client-info .right-side button {
    padding: 14px 20px;
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .client-section .container .client-info .right-side button {
    display: none;
  }
}

.client-cards {
  margin-top: 80px;
  margin-bottom: 50px;
}
@media (max-width: 1596px) {
  .client-cards {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .client-cards {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1596px) {
  .client-cards .container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .client-cards .container {
    width: 358px;
  }
}
.client-cards .container .cards {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1596px) {
  .client-cards .container .cards {
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards {
    flex-direction: column;
  }
}
.client-cards .container .cards .card {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid #262626;
  background: #141414;
}
@media (max-width: 1596px) {
  .client-cards .container .cards .card {
    padding: 40px;
    gap: 30px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards .card {
    padding: 30px;
    gap: 24px;
  }
}
.client-cards .container .cards .card .stars {
  display: flex;
  gap: 10px;
}
@media (max-width: 1596px) {
  .client-cards .container .cards .card .stars {
    gap: 8px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards .card .stars {
    gap: 8px;
  }
}
.client-cards .container .cards .card .stars img {
  border-radius: 100px;
  border: 1px solid #262626;
  background: #1A1A1A;
  padding: 10px;
}
@media (max-width: 1596px) {
  .client-cards .container .cards .card .stars img {
    padding: 9px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards .card .stars img {
    padding: 6px;
  }
}
.client-cards .container .cards .card .card-header {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (max-width: 1596px) {
  .client-cards .container .cards .card .card-header {
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards .card .card-header {
    gap: 6px;
  }
}
.client-cards .container .cards .card .card-header p {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
@media (max-width: 1596px) {
  .client-cards .container .cards .card .card-header p {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards .card .card-header p {
    font-size: 18px;
  }
}
.client-cards .container .cards .card .card-header span {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
@media (max-width: 1596px) {
  .client-cards .container .cards .card .card-header span {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards .card .card-header span {
    font-size: 14px;
  }
}
.client-cards .container .cards .card .card-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1596px) {
  .client-cards .container .cards .card .card-footer {
    gap: 12px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards .card .card-footer {
    gap: 10px;
  }
}
.client-cards .container .cards .card .card-footer .user-name p {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
@media (max-width: 1596px) {
  .client-cards .container .cards .card .card-footer .user-name p {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards .card .card-footer .user-name p {
    font-size: 16px;
  }
}
.client-cards .container .cards .card .card-footer .user-name span {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
@media (max-width: 1596px) {
  .client-cards .container .cards .card .card-footer .user-name span {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .client-cards .container .cards .card .card-footer .user-name span {
    font-size: 14px;
  }
}

.frequently-card {
  margin-top: 80px;
}
@media (max-width: 1596px) {
  .frequently-card {
    margin-top: 60px;
  }
}
@media (max-width: 1200px) {
  .frequently-card {
    margin-top: 40px;
  }
}
@media (max-width: 1596px) {
  .frequently-card .container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .frequently-card .container {
    width: 358px;
  }
}
.frequently-card .container .cards {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1596px) {
  .frequently-card .container .cards {
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .frequently-card .container .cards {
    flex-direction: column;
  }
}
.frequently-card .container .cards .card {
  display: flex;
  padding: 50px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid #262626;
  background: #141414;
}
@media (max-width: 1596px) {
  .frequently-card .container .cards .card {
    padding: 40px;
    gap: 24px;
    border-radius: 10px;
  }
}
@media (max-width: 1200px) {
  .frequently-card .container .cards .card {
    padding: 30px;
    gap: 20px;
  }
}
.frequently-card .container .cards .card .card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1596px) {
  .frequently-card .container .cards .card .card-header {
    gap: 24px;
  }
}
@media (max-width: 1200px) {
  .frequently-card .container .cards .card .card-header {
    gap: 20px;
  }
}
.frequently-card .container .cards .card .card-header p {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
@media (max-width: 1596px) {
  .frequently-card .container .cards .card .card-header p {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .frequently-card .container .cards .card .card-header p {
    font-size: 18px;
  }
}
.frequently-card .container .cards .card .card-header span {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  letter-spacing: -0.108px;
}
@media (max-width: 1596px) {
  .frequently-card .container .cards .card .card-header span {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .frequently-card .container .cards .card .card-header span {
    font-size: 14px;
  }
}
.frequently-card .container .cards .card .card-header button {
  display: flex;
  padding: 18px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #1A1A1A;
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 131%; /* 23.58px */
  letter-spacing: -0.108px;
  cursor: pointer;
}
.frequently-card .container .cards .card .card-header button:hover {
  background-color: #1A64FF;
}
@media (max-width: 1596px) {
  .frequently-card .container .cards .card .card-header button {
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .frequently-card .container .cards .card .card-header button {
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 14px;
    width: 298px;
    text-align: center;
    padding-left: 110px;
  }
}
.frequently-card .container .cards .card2 {
  height: 375.78px;
}
@media (max-width: 1596px) {
  .frequently-card .container .cards .card2 {
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .frequently-card .container .cards .card2 {
    height: 100%;
  }
}

.start-journey-section {
  padding: 100px 162px;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  margin-top: 96px;
}
@media (max-width: 1596px) {
  .start-journey-section {
    padding: 60px 80px;
    margin-top: 72px;
  }
}
@media (max-width: 1200px) {
  .start-journey-section {
    padding: 50px 16px;
    margin-top: 50px;
  }
}
@media (max-width: 1596px) {
  .start-journey-section .container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .start-journey-section .container {
    width: 100%;
  }
}
.start-journey-section .container .start-journey {
  display: flex;
  align-items: center;
  gap: 250px;
}
@media (max-width: 1596px) {
  .start-journey-section .container .start-journey {
    gap: 150px;
  }
}
@media (max-width: 1200px) {
  .start-journey-section .container .start-journey {
    gap: 30px;
    flex-direction: column;
  }
}
.start-journey-section .container .start-journey .left-side p {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 72px */
}
@media (max-width: 1596px) {
  .start-journey-section .container .start-journey .left-side p {
    font-size: 38px;
  }
}
@media (max-width: 1200px) {
  .start-journey-section .container .start-journey .left-side p {
    font-size: 28px;
  }
}
.start-journey-section .container .start-journey .left-side span {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
@media (max-width: 1596px) {
  .start-journey-section .container .start-journey .left-side span {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .start-journey-section .container .start-journey .left-side span {
    font-size: 14px;
  }
}
.start-journey-section .container .start-journey .right-side button {
  display: flex;
  padding: 18px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: var(--Purple-60, #703BF7);
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  border: transparent;
}
.start-journey-section .container .start-journey .right-side button:hover {
  background-color: #1A64FF;
}
@media (max-width: 1596px) {
  .start-journey-section .container .start-journey .right-side button {
    padding: 14px 20px;
    font-size: 14px;
    border-radius: 8px;
  }
}
@media (max-width: 1200px) {
  .start-journey-section .container .start-journey .right-side button {
    font-size: 14px;
    width: 357px;
    padding-left: 120px;
  }
}

.footer-section {
  padding: 100px 162px;
}
@media (max-width: 1596px) {
  .footer-section {
    padding: 80px;
  }
}
@media (max-width: 1200px) {
  .footer-section {
    padding: 50px 16px;
  }
}
@media (max-width: 1596px) {
  .footer-section .container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .footer-section .container {
    width: 100%;
  }
}
.footer-section .container .footer {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}
@media (max-width: 1596px) {
  .footer-section .container .footer {
    gap: 80px;
  }
}
@media (max-width: 1200px) {
  .footer-section .container .footer {
    gap: 50px;
    flex-direction: column;
  }
}
.footer-section .container .footer .left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1596px) {
  .footer-section .container .footer .left-side {
    gap: 24px;
  }
}
@media (max-width: 1200px) {
  .footer-section .container .footer .left-side {
    gap: 20px;
  }
}
.footer-section .container .footer .left-side .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-section .container .footer .left-side .input {
  display: flex;
  align-items: center;
  position: relative;
}
.footer-section .container .footer .left-side .input .letter {
  position: absolute;
  top: 20px;
  margin-left: 8px;
}
@media (max-width: 1596px) {
  .footer-section .container .footer .left-side .input .letter {
    top: 15px;
  }
}
.footer-section .container .footer .left-side .input input {
  margin-left: 6px;
  display: flex;
  width: 305px;
  padding: 18px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #262626;
  background: #141414;
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.084px;
}
@media (max-width: 1596px) {
  .footer-section .container .footer .left-side .input input {
    margin-left: 12px;
    padding: 14px 20px;
    gap: 6px;
  }
}
@media (max-width: 1200px) {
  .footer-section .container .footer .left-side .input input {
    padding: 14px 20px;
    gap: 6px;
  }
}
.footer-section .container .footer .left-side .input .send {
  position: absolute;
  top: 20px;
  left: 310px;
}
@media (max-width: 1596px) {
  .footer-section .container .footer .left-side .input .send {
    top: 15px;
  }
}
.footer-section .container .footer .right-side {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex: 1 0 0;
}
@media (max-width: 1200px) {
  .footer-section .container .footer .right-side {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer-section .container .footer .right-side .navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1596px) {
  .footer-section .container .footer .right-side .navigation {
    gap: 24px;
  }
}
.footer-section .container .footer .right-side .navigation p {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.108px;
}
@media (max-width: 1596px) {
  .footer-section .container .footer .right-side .navigation p {
    font-size: 18px;
  }
}
.footer-section .container .footer .right-side .navigation ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1596px) {
  .footer-section .container .footer .right-side .navigation ul {
    gap: 16px;
  }
}
@media (max-width: 1200px) {
  .footer-section .container .footer .right-side .navigation ul {
    border-bottom: 1px solid #262626;
  }
}
.footer-section .container .footer .right-side .navigation ul li a {
  color: var(--Absolute-White, #FFF);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.096px;
  text-decoration: none;
}
@media (max-width: 1596px) {
  .footer-section .container .footer .right-side .navigation ul li a {
    font-size: 16px;
  }
  .footer-section .container .footer .right-side .navigation ul li a:hover {
    color: #703BF7;
  }
}
@media (max-width: 1200px) {
  .footer-section .container .footer .right-side .navigation5 {
    margin-top: -100px;
  }
}