.featured-section{
        margin-top:110px ;
        .container{
            @include for-size(phone){
                width: 100%;
            }
        .featured-header{
            // padding: 14px 20px;
           
            .stars{
                display: flex;
                align-items: center;
                gap: 2px;
                width: 100px;
                img{
                    width: 30px;
                    height: 30px;
                    @include for-size(tablet){
                        width: 24px;
                        height: 24px;
                    }
                    @include for-size(phone){
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .featured-info{
                display: flex;
                align-items: center;
                gap:200px ;
                @include for-size(phone){
                    gap: 0;
                }
                .left-side{
                    display: flex;
                    flex-direction: column;
                    gap:14px ;
                    @include for-size(tablet){
                        gap:10px
                    }
                    @include for-size(phone){
                        gap:6px
                    }
                    p{
                        color: var(--Absolute-White, #FFF);
                        font-family: Urbanist;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%; /* 72px */
                        @include for-size(tablet){
                            font-size:38px;
                        }
                    }
                    span{
                        color: var(--Grey-60, #999);
                        font-family: Urbanist;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 27px */
                        @include for-size(tablet){
                            font-size:16px;
                        }
                        @include for-size(phone){
                          font-size: 14px;
                        }
                    }
                }
                .right-side{
                    margin-top: 60px;
                    button{
                        display: flex;
                        padding: 18px 24px;
                        align-items: center;
                        gap: 8px;
                        border-radius: 10px;
                        border: 1px solid var(--Grey-15, #262626);
                        background: var(--Grey-10, #1A1A1A);
                        color: var(--Absolute-White, #FFF);
                        font-family: Urbanist;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 27px */
                        width: 196px;
                        @include for-size(tablet){
                            padding: 14px 20px;
                        }
                        @include for-size(phone){
                       display: none;
                        }
                    }
                }
            }
        }
}
}