// Seaside 
.seaside-section{
    margin-top: 120px;
  .container{
    @include for-size(tablet){
        width: 100%;
    }
    @include for-size(phone){
        width: 100%;
    }
    .seaside{
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        justify-content: space-between;
        @include for-size(phone){
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
        }
        .left-side{
            // display: flex;
            // align-items: center;
            // gap: 20px;
            // flex: 1 0 0;
            // @include for-size(phone){

           
          p{
            color: $colorheader;
            font-family: $font-header;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 45px */
            @include for-size(tablet){
                font-size: 24px;
            }
          }

        }

        .right-side{
          display: flex;
          align-items: center;
        //   flex-direction: column;
        justify-content: space-between;
        
        gap: 50px;
          .location{
            display: flex;
            padding: 10px;
            align-items: center;
            gap: 6px;
            border-radius: 8px;
            border: 1px solid $colorgrey15;
            @include for-size(tablet){
                padding: 8px;
                border-radius: 6px;
            }
            @include for-size(phone){
                padding: 8px;
                border-radius: 6px;
            }
            span{
                color: $colorheader;
                font-family: $font-header;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 27px */
                
                @include for-size(tablet){
                    font-size: 14px;
                }
            }
          }
          .price{
            display: flex;
            flex-direction: column;
            gap: 2px;
          p{
            color: var(--Grey-60, #999);
            font-family: $font-header;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 27px */
            @include for-size(tablet){
                font-size: 14px;
            }
          }
          span{
            color: $colorheader;
            font-family: $font-header;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 36px */
            @include for-size(tablet){
                font-size: 20px;
            }
          }
        }
    }
    }
}
  }


// Picture card

.picturecard-section{
    margin-top: 50px;
    .container{
        .pictures{
            display: flex;
            padding: 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            align-self: stretch;
            border-radius: 12px;
            border: 1px solid $colorgrey15;
            background: $colorgrey10;
            .top{
                display: flex;
                padding: 10px;
                align-items: flex-start;
                gap: 10px;
                border-radius: 12px;
                border: 1px solid $colorgrey15;
                background: $colorgrey08;

            }
            .middle{
                display: flex;
                align-items: flex-start;
                gap: 30px;
                align-self: stretch;
            }
            .bottom{
                display: flex;
                padding: 10px;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                background: $colorgrey08;
                img{
                    display: flex;
                    padding: 14px;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 69px;
                    border: 1px solid $colorgrey15;
                    &:hover{
                        background-color: #703BF7;
                    }
                }
                .lines{
                    display: flex;
                    width: 140px;
                    align-items: flex-start;
                    gap: 4px;
                    .line1{
                        height: 5px;
                        flex: 1 0 0;
                        border-radius: 60px;
                        background: var(--Purple-60, #703BF7);
                    }
                    .line{
                        height: 5px;
                        flex: 1 0 0;
                        border-radius: 60px;
                        background: $colorgrey30;
                    }
                }
            }

        }
    }
}